@import './mixins';
@import './variables';

.panel {
    position: fixed;
    height: 40vmax;
    width: 23vmax;
    right: 0;
    background-color: $background;
    // border: 2px solid $borderColor;s
    @include flex(center, center, row);

}

.download-btn {
    background: $secondaryColorFirst;
    border-radius: .4vmax;
    @include flex(center, center, row);
    border: none;
    width: 12vmax;
    height: 2.3vmax;
    color: #fff;
    font-size: 1vmax;
    font-family: 'Arimo', sans-serif;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    margin: 0 3vmax;
    margin-bottom: 3vmax;
}

.download-btn:hover {
    background: $secondaryColorSecond;
    color: #FAFAFA;
}