@import './mixins';
@import './variables';

$bordercheck: 1px solid transparent;

.mn {
    height: auto;
    width: 100%;
    background-color: $mainbackgroundColor;
    padding: 6vmax 0;
    @include flex(flex-start, center, row);

    .inv-bldr {
        width: 50vmax;
        height: auto;
        border: 1px solid $borderColor;
        background-color: $background;

        .invc-hdr {
            height: 10vmax;
            width: 100%;
            @include flex(center, right, row);
            padding: 0 2vmax;
            border: $bordercheck;


            .inv-title {
                height: 5vmax;
                width: 20vmax;
                background-color: transparent;
                text-align: right;
                font-size: 3vmax;
                font-family: 'Arimo', sans-serif;
                border: none;
                padding: .5vmax;
                border-radius: .3vmax;
            }

            .inv-title:focus,
            .inv-title:hover {
                outline: 2px solid $secondaryColorFirst;

            }
        }

        .slr {
            height: 15vmax;
            width: 100%;
            @include flex(flex-start, center, column);
            gap: .1vmax;
            padding: 0 2vmax;
            border: $bordercheck;

            .slr-txt {
                font-size: .9vmax;
                font-family: 'Arimo', sans-serif;
                height: 1.8vmax;
                width: 20vmax;
                border: none;
                padding: 0 .5vmax;
                color: rgb(47, 47, 47);
                background-color: transparent;
                border-radius: .3vmax;
            }

            .slr-txt:hover,
            .slr-txt:focus {
                outline: 2px solid $secondaryColorFirst;
            }

            .highlight {
                color: #111;
                font-weight: 600;
            }
        }

        .client {
            padding: 0 0;
            flex-wrap: wrap;
            @include flex(flex-start, flex-start, column);

            .left,
            .right {
                height: 100%;
                width: 50%;
                border: $bordercheck;
                padding: 2vmax 2vmax;
                @include flex(flex-start, flex-start, column);

                .invc-label {
                    font-size: 1vmax;
                    padding: 0 .5vmax;
                    font-family: 'Arimo', sans-serif;
                }
            }

            .right {
                gap: .4vmax;

                .date {
                    color-scheme: $secondaryColorFirst;
                }
            }
        }

        .table-hdr {
            height: 3vmax;
            width: 100%;
            @include flex(center, center, row);

            .tble-tp {
                height: 3vmax;
                width: 90%;
                background-color: $tableTopColor;
                @include flex(center, center, row);

                .tble-des {
                    font-size: 1vmax;
                    font-family: 'Arimo', sans-serif;
                    height: 1.8vmax;
                    width: 7vmax;
                    border: none;
                    padding: 0 .5vmax;
                    color: $mainbackgroundColor;
                    background-color: transparent;
                    text-align: right;
                }

                .description {
                    width: 30vmax;
                    text-align: left;
                }

                .nonDescription{
                    padding: 0 1.2vmax;
                }
            }
        }

        .item-list-cnt {
            // position: relative;
            height: auto;
            width: 100%;
            @include flex(center, center, column);

            .item-list {
                height: 5vmax;
                width: 90%;
                border-bottom: 1px solid #111;
                @include flex(center, center, row);
                gap: .1vmax;

                .delete-btn {
                    // position: sticky;
                    right: .8vmax;
                    height: 1.2vmax;
                    min-width: 1.2vmax;
                    @include flex(center, center, row);
                    border-radius: 50%;
                    border: .15vmax solid rgb(224, 16, 16);
                    color: rgb(224, 16, 16);
                    font-size: .6vmax;
                    font-family: 'Arimo', sans-serif;
                    font-weight: 800;
                    cursor: pointer;
                    transition: 0.2s;
                    // transform: translateX(1vmax);
                    // margin: 0 .5vmax;
                }

                .delete-btn:hover {
                    background-color: rgba(224, 16, 16, 0.238);
                }

                .itemDescription {
                    width: 30vmax;
                    height: 3.5vmax;
                    border: none;
                    resize: none;
                    font-family: 'Arimo', sans-serif;
                    font-size: 1vmax;
                    padding: .5vmax .5vmax;
                    border-radius: .3vmax;
                    background-color: transparent;
                }

                .itemDescription::placeholder {
                    font-size: .9vmax;
                }

                .itemDescription:hover,
                .itemDescription:focus {
                    outline: 2px solid $secondaryColorFirst;
                }

                .qtyValue,
                .rateValue,
                .taxValue,
                .amountValue {
                    font-size: 1vmax;
                    font-family: 'Arimo', sans-serif;
                    height: 3.5vmax;
                    width: 6.5vmax;
                    border: none;
                    padding: 0 .5vmax;
                    text-align: right;
                    border-radius: .3vmax;
                    background-color: transparent;
                }

                .qtyValue:hover,
                .qtyValue:focus,
                .rateValue:hover,
                .rateValue:focus,
                .taxValue:hover,
                .taxValue:focus,
                .amountValue:hover,
                .amountValue:focus {
                    outline: 2px solid $secondaryColorFirst;
                }
            }
        }

        .cal-cnt {
            height: 10vmax;
            width: 100%;
            @include flex(center, center, row);

            .lft-btn,
            .rigt-cal {
                height: 100%;
                width: 50%;

            }

            .lft-btn {
                padding: 1vmax 2vmax;
            }

            .add-btn {
                height: 2vmax;
                width: 10vmax;
                background: rgba(6, 135, 103, 0);
                border-radius: .3vmax;
                border: none;
                @include flex(center, center, row);
                color: $secondaryColorFirst;
                font-size: 1vmax;
                font-family: 'Arimo', sans-serif;
                text-decoration: none;
                transition: 0.3s;
                @include flex(center, center, row);
                gap: .3vmax;
                cursor: pointer;
            }

            .add-btn:hover {
                color: #064a39;
            }

            .add-icon {
                height: 1.1vmax;
                width: 1.1vmax;
                background-image: url(../assets/add.png);
                background-size: contain;
                background-position: center;
            }

            .rigt-cal {
                @include flex(center, center, column);
            }

            .fnl-dta {
                width: 100%;
                height: 33%;

                @include flex(center, center, row);

                .fnl-inpt,
                .fnl-data {
                    height: 2.5vmax;
                    width: 8vmax;
                    padding: 0 .5vmax;
                    font-size: .9vmax;
                    font-family: 'Arimo', sans-serif;
                    background-color: transparent;
                    border: none;
                    border-radius: .3vmax;
                }

                .fnl-inpt:hover,
                .fnl-inpt:focus {
                    outline: 2px solid $secondaryColorFirst;
                }

                .fnl-data {
                    cursor: not-allowed;
                }
            }
        }

        .fnl-txt {
            height: 20vmax;
            width: 100%;
            padding: 2vmax 2vmax;

            .fnl-nt-inpt {
                height: 2vmax;
                width: 100%;
                outline: none;
                padding: .5vmax .5vmax;
                background-color: transparent;
                border: none;
                border-radius: .3vmax;
            }

            .fnl-nt-inpt:hover,
            .fnl-nt-inpt:focus {
                outline: 2px solid $secondaryColorFirst;
            }

            .fnl-txt-area {
                height: 4vmax;
                width: 100%;
                outline: none;
                padding: .5vmax .5vmax;
                background-color: transparent;
                border: none;
                border-radius: .3vmax;
                font-family: 'Arimo', sans-serif;
                color: rgb(47, 47, 47);
                border-radius: .3vmax;
                resize: vertical;
            }

            .fnl-txt-area:hover,
            .fnl-txt-area:focus {
                outline: 2px solid $secondaryColorFirst;
            }
        }
    }
}

.invoice-wrapper{
    height: auto;
    width: 100%;
    background-color: $mainbackgroundColor;
    padding: 5vmax 0;
}